.faq__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.faq__item {
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
  margin-right: 30px;
  border-radius: 5px;
  border: 1px solid #FFF;
  padding: 0 60px;
  max-width: 538px;
  min-width: 538px;
  min-height: 120px;
  height: auto;
  max-height: 100px;
  margin-bottom: 35px;
  cursor: pointer;
  transition: 0.2s ease;
  /* border-image: linear-gradient(#FFFFFF, #FFFFFF, #FFA500);
  -moz-border-image: -moz-linear-gradient(#FFFFFF, #FFFFFF, #FFA500);
  -webkit-border-image: -webkit-linear-gradient(#FFFFFF, #FFFFFF, #FFA500);
  border-image-slice: 1; */
}

.faq__item--active {
  max-height: fit-content;
  padding: 20px 60px;
}

.faq__answer {
  margin-top: 5px;
  font-weight: 300;
  font-size: 20px;
}

.faq__question {
  display: block;
  position: relative;
}

.faq__answer {
  display: none;
}

.faq__question::after {
  content: '';
  position: absolute;
  width: 23px;
  height: 25px;
  background: url('../icons/faq_arrow_right.svg');
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
  right: -35px;
  transition: 0.3s ease;
}

.faq__item--active .faq__question::after {
  transform: translateY(-50%) rotate(90deg);
}

.faq__item::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(268deg, #FFA500 0%, #FFB800 100%);
  z-index: -1;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.faq__item:hover::before {
  opacity: 1;
}

.faq__item:nth-child(2n) {
  margin-right: 0;
}