.produced {
  position: relative;
}

.produced::after {
  position: absolute;
  content: "";
  width: 100%;
  max-height: 615px;
  background-image: url('../images/produced-bg.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 670px;
  left: 50%;
  top: -200px;
  z-index: -99;
  transform: translateX(-50%);
  
}

.produced__block {
  display: flex;
  align-items: center;
}

.produced__info {
  margin-left: 70px;
  margin-top: 50px;
}

.produced__background {
  position: absolute;
  top: -60px;
  left: 0px;
  /* transform: translateX(-50%); */
  /* left: 50%; */
  /* margin-left: -50%; */
  /* top: -60px; */
  width: 100%;
  height: 523px;
  background-image: url('../images/produced/bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: сover;
  z-index: -1;
}

.produced__title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 36px;
  text-align: left;
  max-width: 680px;
}

.produced__title span {
  color: #252525;
}

.produced__list {
  max-width: 440px;
  list-style: disc;
  color: #363636;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 46px;
  margin-left: 20px;
}

.produced__button {
  padding: 12px 54px;
  background: linear-gradient(268deg, #000 0%, #2F2F2F 100%);
  font-size: 17px;
  max-width: 256px;
  border-radius: 40px;
}



.offer {
  margin-top: 120px;
}

.offer__block {
  display: flex;
  justify-content: center;
}

.offer__item {
  text-align: center;
  max-width: 184px;
  margin: 0 20px;
}

.offer__item:first-child,
.offer__item:last-child {
  margin-top: 50px;
}

.offer__item:nth-child(2),
.offer__item:nth-child(4) {
  margin-top: 20px;
}

.offer__text {
  margin-top: 15px;
  hyphens: auto;
}

.offer__dot {
  position: relative;
  margin: 30px auto 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #ffa500;
}

.offer__dot::after {
  content: "";
  width: 230px;
  height: 1px;
  background-color: white;
  position: absolute;
  z-index: -1;
  top: -10px;
  left: 0px;
  transform: rotate(172deg);
}

.offer__item:nth-child(2) .offer__dot::after {
  top: -4px;
  transform: rotate(175deg);
}

.offer__item:nth-child(3) .offer__dot::after {
  top: 15px;
  transform: rotate(185deg);
}

.offer__item:nth-child(4) .offer__dot::after {
  top: 21px;
  transform: rotate(188deg);
}

.offer__item:last-child .offer__dot::after {
  display: none;
}

.five-steps {
  margin-top: 150px;
  counter-reset: section;
}

.five-steps__text {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  margin-top: 20px;
}

.five-steps__block {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.five-steps__item {
  max-width: 257px;
  text-align: left;
  position: relative;
  margin-left: 65px;
  margin-bottom: 20px;
}

.five-steps__item::before {
  position: absolute;
  counter-increment: section;
  content: " " counter(section) ". ";
  color: #ffa500;
  font-size: 39px;
  font-weight: 700;
  left: -40px;
  top: 0px;
}

.five-steps__button {
  margin: 35px auto 0px;
  font-size: 17px;
  max-width: 257px;
  max-height: 36px;
}

.why {
  margin-top: 150px;
}

.why__subtitle {
  margin: auto;
  margin-bottom: 35px;
  max-width: 890px;
}

.why__block {
  max-width: 924px;
  min-height: 264px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.why__item {
  max-width: 293px;
  min-width: 293px;
  text-align: left;
  margin-bottom: 35px;
}

.why__text {
  font-size: 16px;
  font-weight: 300;
  max-width: 293px;
  padding-left: 8px;
  margin-top: 4px;
}

.why__text--border {
  display: block;
  max-width: 242px;
  max-height: 22px;
  padding-left: 6px;
  border-radius: 5px;
  border: 2px solid #ffa500;
  font-size: 16px;
  font-weight: 400;
}

.tariff {
  margin: 150px 0;
}

.tariff__title {
  margin-bottom: 55px;
}

.tariff__block {
  margin: auto;
  max-width: 852px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tariff__item {
  position: relative;
  max-width: 372px;
  min-width: 372px;
  max-height: 642px;
  min-height: 642px;
  border-radius: 5px;
  border: 1.25px solid #fff;
  background: #292929;
}

.tariff__item:last-child {
  background: linear-gradient(268deg, #774D00 0%, #7B6001 100%);
}

.tariff__item:last-child::before {
  content: "";
  width: 64px;
  height: 440px;
  position: absolute;
  background: linear-gradient(268deg, #FFA500 0%, #F90 100%);
  filter: blur(130px);
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}

.tariff-items__title {
  margin-top: 38px;
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 35px;
}

.tariff-items__title span {
  position: relative;
}

.tariff-items__title span::before {
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffa500;
  left: -20px;
  top: 15px;
  position: absolute;
}

.tariff-items__title p {
  margin: auto;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
}

.tariff-items__list {
  margin: auto;
  padding-left: 20px;
  max-width: 316px;
}

.tariff-items__text {
  list-style-type: disc;
  font-size: 16px;
  font-weight: 400;
  text-transform: lowercase;
}

.tariff-items__footer {
  margin: 25px auto 0;
  max-width: 124px;
  min-width: 275px;
}

.tariff-items__footer .tariff-items__text {
  font-weight: 300;
  line-height: 14px;
  margin-bottom: 5px;
}

.slick__arrow--right {
  right: -60px;
}

.slick__arrow--left {
  left: -60px;
}
