.reels-examples {
  margin-top: 30px;
}

.reels-examples__slider-item {
  width: 220px;
  max-width: 220px;
  margin: 0 90px;
}

.reels-examples__slider-image {
  border-radius: 3.817px;
  border: 0.763px solid #FFF;
  max-width: 220px;
  max-height: 387px;
  background: #FFF;
}

.slick__arrow--right {
  right: 30px;
}

.slick__arrow--left {
  left: 30px;
}